.todoHolder{
    width: 70%;
    margin: auto;
    margin-top: 3rem;
}
.inputSection{
    margin-bottom: 2rem;
}
.inputSection > * {
    margin-left: 1rem;
}
.input{
    width: 80%;
    margin: auto;
    border: 0px;
    border-bottom: 2px solid #1572A1;
    font-family: 'Montserrat', 'San-serif';
}
.individualTodo{
    margin-bottom: .2rem;
    min-width: 90%;
    padding: .5rem;
    background: whitesmoke;
    display: grid;
    grid-template-columns: 70% 30%;
}
.input:focus{
    outline: none;
}

.todoTitle > h4{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.todoTitle > p{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.btnHolder{
    margin: auto;
}
.btnHolder > button{
    margin: auto .4rem;
}
.doneBtn:hover{
    background: #96CEB4;
}
.deleteBtn:hover{
    background: #ff150096;
}
.submitBtn:hover{
    background: #4fbdb965;
}

@media screen and (max-width: 600px) {
    .todoHolder{
        width: 90%;
    }
    .input{
      width: 70%;
    }
    .individualTodo{
        width: 100%;
    }
    .todoTitle > h4 {
        margin-bottom: .5rem;
    }
    .btnHolder{
        display: flex;
        flex-direction: column;
        row-gap: .5rem;
    }
    .btnHolder > *:hover{
        background: #D9D7F1;
    }

  }