@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #ffffff;
  ;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid black;
  background: #D9D7F1;
  padding: .3rem;
  cursor: pointer;
}

@media screen and (max-width: 600) {
  button{
    font-size: .8rem;
    padding: .1rem;
  }
}
